:root {
	--light-blue: #364F6B;
	--deep-blue: #2B2E4A;
	--yellow: #fab005;
	--purpel: #B83B5E;
}
body, * {
	margin:  0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Comfortaa', cursive;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.header {
	width: 100%;
	display: grid;
	grid-template-columns: 20% 49% 30%;
	grid-gap: 0.5%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.header div {
	/*background-color: #F08A5D;*/
}

.head-img {
	width: 100%;
	display: flex;
	justify-content: center;
}

.header .head-img img {
	width: 70%;
	height: auto;
}

.head-title {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.head-title input {
	width: 350px;
	height: 40px;
	border: 2px solid #6A2C70;
	border-radius: 15px;
	outline-width: 3px;
	font-weight: 500;
	padding: 0 10px;
}

.head-date {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.head-date a {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	background-color: #364F6B;
	padding: 10px 25px;
	margin-left: 15px;
	border-radius: 20px;
	transition: 0.3s;
}
.head-date a:hover {
	background-color: var(--yellow);
	color: #222831;
}

nav {
	width: 100%;
	margin-top: 30px;
}

nav ul {
	width: 100%;
	display: flex;
}
nav ul li {
	
}
nav ul li a {
	font-size: 17px;
	color: #364F6B;
	font-weight: 700;
	padding: 10px 25px;
	margin-right: 15px;
	border-radius: 20px;
	transition: 0.3s;

}
nav ul li a:hover {
	background-color: #364F6B;
	color: #fff;
}

.hed {
	text-align: center;
	margin-top: 50px;
}

.hed h1 {
	color: var(--light-blue);
	font-size: 45px;
	font-weight: 700;
}

.web {
	color: var(--yellow);
}

.table-cont {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

table {
	margin-top: 50px;
	width: 80%;
	height: 300px;
	border-radius: 15px;
	padding: 5px;
	border: 2px solid var(--deep-blue);
}
td {
	text-align: center;
	border-radius: 15px;
	font-size: 20px;
	background-color: var(--light-blue);
	color: #fff;
	cursor: pointer;
	transition: 0.3s;
}

td:hover {
	background-color: var(--yellow);
	color: var(--deep-blue);
}
th {
	border-radius: 15px;
	font-size: 20px;
	background-color: var(--deep-blue);
	color: #fff;
}